@import "tailwindcss";

:root {
  --bg-header: #a5a5a5;
  --bg-main: #c3c3c3;
  --bg-overlay: #545454;
  --bg-overlay-accent: #474747;
  --primary: #519945;
  --secondary: #a5a5a5;
  --text: #353535;
  --text-h: #5f5f5f;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg-main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
